{ BasedOnStyle: LLVM, 
UseTab: Never, 
IndentWidth: 4, 
TabWidth: 4, 
BreakBeforeBraces: Allman, 
AllowShortIfStatementsOnASingleLine: false, 
IndentCaseLabels: false, 
ColumnLimit: 0, 
AccessModifierOffset: -4, 
NamespaceIndentation: All, 
FixNamespaceComments: false,
# ss
ColumnLimit: 80,
# ssfdsf
AccessModifierOffset: -4,
# false表示函数实参要么都在同一行，要么都各自一行
BinPackArguments: true}